@font-face {
  font-family: "Aileron";
  src: url("./Ailerons-Typeface.otf");
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  font-family: "Aileron";
  overflow-x: hidden;
}
canvas {
  height: 100vh !important;
}
.canvasWrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.screen {
  background: linear-gradient(185deg, #4169e1 24.56%, #fa0339 176.52%);
  color: white;
  width: 2900px;
  height: 1650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 100px;
  }
}

.main {
  width: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  // width: calc(100vw - 200px);
  margin: 0 auto;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  transition: 2s ease-in-out;
  // @media (max-width: 1024px) and (min-width: 769px) {
  //   width: calc(100vw - 48px);
  // }
  @media (max-width: 768px) {
    backdrop-filter: blur(75px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text {
  font-weight: 100;
  font-size: clamp(3rem, -0.8169rem + 10.0188vw, 8rem);
  color: #fafafa;
  display: flex;
}
.btnWrapper {
  @media (max-width: 768px) {
    gap: 1rem !important;
    .exploreBtn {
      min-width: 7rem;
      padding: 8px 10px;
      font-size: 14px;
    }
  }
}
.exploreBtn {
  display: none;
  padding: 12px 18px;
  min-width: 12rem;
  // border: 1px solid white;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Aileron";
  font-size: 23px;
  font-weight: 400;
  width: max-content;
  background-color: transparent;
  &:hover {
    border: 1px solid white;
  }
}
.endtext {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  .exploreBtn {
    display: block;
  }
}

.dud {
  color: #757575;
}
.section-wrapper {
  height: 100vh;
  transform: translateY(100%);

  width: 100%;
  &.about {
    .about-section {
      display: flex;
    }
  }
  &.work {
    .work-section {
      display: flex;
    }
  }
  section {
    display: none;
  }
  .about-section,
  .work-section {
    // padding-top: 4rem;
    width: 100%;
    display: none;
    border-radius: 0.5rem;
    color: #e2e2e2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: -2px;
    h2 {
      font-size: 40px;
      text-align: center;
    }
    p {
      font-size: 24px;
      text-align: center;
      font-family: "Courier New", Courier, monospace;
    }
    .cards-wrapper {
      display: flex;
      width: 100%;
      gap: 4rem;
      flex-wrap: wrap;
      margin-top: 48px;
      .card {
        flex: 1;
        padding: 12px 18px;
        border: 1px solid white;
        border-radius: 8px;
        color: white;
        background-color: #e2e2e210;
        height: 400px;
        backdrop-filter: blur(5px);
        flex-basis: 25%;
        &.row-two {
          flex-grow: 1;
          flex-basis: 42%;
        }
        &.row-three {
          flex-grow: 1;
          flex-basis: 100%;
        }
      }
    }
  }
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scaleY(0);
  height: 100vh;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  transform-origin: bottom;
  backdrop-filter: blur(10px);
  background-color: #66a5ad80;
}
.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(200px);
  transform: scaleY(0);
  // border-radius: 50%;
  transform-origin: top;
  background-color: #66a5ad80;
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(((202px + 40px) * -18)));
  }
}
@keyframes scrollBot {
  0% {
    transform: translateY(calc(((202px + 40px) * -18)));
  }
  100% {
    transform: translateY(0);
  }
}

// Styling
.slider {
  height: 100vh;
  margin: auto;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    flex-direction: column;
    height: calc(((202px + 40px) * 36));
    gap: 40px;
    &.speed {
      animation: scroll 20s linear infinite;
    }
  }
  .slide-track-opposite {
    animation: scrollBot $animationSpeed linear infinite;
    display: flex;
    flex-direction: column;
    height: calc(((202px + 40px) * 36));
    gap: 40px;
    &.speed {
      animation: scrollBot 20s linear infinite;
    }
  }

  .slide {
    min-height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    svg {
      width: 75px;
      height: 75px;
    }
  }
}
